* {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}
.webContainer {
  background-color: #f5c462;
}
.AppContainer {
  margin: 0;
  line-height: 65px;
  background-color: #1f1f1f;
}
.AppContainer main {
  width: 80vw;
  margin: auto;
}
@media (max-width: 50em) {
  .AppContainer main {
    width: 100vw;
    margin: auto;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NavMobile {
  background-color: #1f1f1f;
  height: 50vh;
  width: 50vw;
}








.dflex {
  display:flex;
}
.spacebetween {
  justify-content: space-between;
}
.spaceeven {
  justify-content: space-evenly;
}
.spacearound{
  justify-content: space-around;
}
.justcenter {
  justify-content: center;
}
.aligncenter {
  align-items: center;
}
.flexcenter {
  display:flex;
  justify-content: center;
  align-items: center;
}
.flexcol {
  flex-direction: column;
}
