.container {
    background-color: black;
    color: #1f1f1f;
    height: 90.8vh;
    background-image: url('../img/mapChart.jpg');
    background-size: cover;
    background-position: center 50%;
}

.imgText {
    padding: 20px;
    font-size: 80px;
    position: relative;
    top: 50px;
    left: 100px;
    max-width: fit-content;
}
.imgTextMobile {
    padding: 20px;
    font-size: 40px;
    position: relative;
    top: 70px;
    left: 20px;
    max-width: fit-content;
}