.projectListContainer {
    background-color: #1f1f1f;
    color: #1f1f1f;
    padding: 5px;
    height: 100%;
    max-width: 1500px;
    margin:auto;
}
.projectListContainer h1:first-child {
    color: #f5c462;
}
.ProjectPageLine {
    color: #f5c462;
    background-color: #f5c462;
    margin: 10px 0px;
}

.ProjectList {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
}
.ProjCardCol {
    width: 70%;
}
.PCardItem {
    margin: auto;
}
.PCHead {
    max-width: 300px;
}
.PCImg {
    height: 200px;
    width: 200px;
    outline: 2px solid black;
    margin: 10px;
}
.PCardItem p {
    text-align: start;
}
.PCardItem p:nth-child(2) {
    margin-top:-30px;
    margin-bottom: 10px;
}

.Proj {
    display: flex;
    color: #f5c462;
    margin-bottom: 1rem;
}

.HLine {
    width: 90%;
    height: 2px;
    background: #f5c462;
    margin: auto;
    margin-bottom: 1rem;
}